@use "./common/theme";

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: theme.prop-value(theme.$on-secondary);
	background-color: theme.prop-value(theme.$secondary);
	text-align: center;
}
