$my-primary-50: #f5fae5;
$my-primary-100: #e5f1bf;
$my-primary-200: #d4e894;
$my-primary-300: #c4df6a;
$my-primary-400: #b8d848;
$my-primary-500: #add222;
$my-primary-600: #a2c01b;
$my-primary-700: #93aa10;
$my-primary-800: #849303;
$my-primary-900: #6c6e00;

$my-secondary-50: #ebe5f2;
$my-secondary-100: #ccbedf;
$my-secondary-200: #ab94ca;
$my-secondary-300: #8b69b5;
$my-secondary-400: #744aa6;
$my-secondary-500: #5d2a99;
$my-secondary-600: #552693;
$my-secondary-700: #491e8b;
$my-secondary-800: #3f1883;
$my-secondary-900: #2d0a76;
